<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <br>
  <% unless current_user == @user %>
    <% if @mutual_friends.any? %>
      <h3>Friends in common:</h3>
      <ul>
        <% @mutual_friends.each do |friend|%>
          <li><%=friend.name%></li>
        <% end %>
      </ul>
    <% end %>
    <% if current_user.friend?(@user) %>
      <p>Already Friends!</p>
    <% else %>
      <% if current_user.pending_friends.include?(@user) %>
        Friend Request Pending!
        <% elsif current_user.friend_requests.each do |request|%>
          <% if @user == request %>
            <%= form_with model: @friendship, url: '/accept-request', method: :post do |form|%>
                <%= form.hidden_field :friend_id, value: "#{request.id}" %>
                <div>
                <%= form.submit "Accept Request!"%>
              </div>
            <% end %>
            <%= form_with model: @friendship, url: '/reject-request', method: :post do |form|%>
              <%= form.hidden_field :friend_id, value: "#{request.id}" %>
              <div>
                <%= form.submit "Reject Request!"%>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p>Send Friend Request</p>
        <%= form_with model: @friendship, url: '/friend-request', method: :post do |form|%>
          <% flash.each do |type, msg| %>
            <div>
              <h3><%= msg %></h3>
            </div>
            <% end %>
            <%= form.hidden_field :friend_id, value: "#{@user.id}" %>
            <div class="actions">
            <%= form.submit "Send Friend Request!"%>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% unless current_user.friend_requests.empty? %>
      <h3>Friend Requests: </h3>
      <ul>
        <% current_user.friend_requests.each do |request|%>
        <li><%=request.name %>
            <%= form_with model: @friendship, url: '/accept-request', method: :post do |form|%>
                <%= form.hidden_field :friend_id, value: "#{request.id}" %>
                <div>
                <%= form.submit "Accept Request!"%>
              </div>
            <% end %>
            <%= form_with model: @friendship, url: '/reject-request', method: :post do |form|%>
              <%= form.hidden_field :friend_id, value: "#{request.id}" %>
              <div>
                <%= form.submit "Reject Request!"%>
              </div>
            <% end %>
        <% end %>
        </li>

      </ul>
    <% end %>

  <% end %>

  
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

Friends
<ul>
  <% @user.friends.each do |friend|%>
    
      <li><%= friend.name %></li>
    
  <% end %>
</ul>