<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <br>
  <% unless current_user == @user %>
    <% unless mutual_friends(@user).nil? %>
      <h3>Mutual: </h3>
      <%= mutual_friends(@user)%>
      <br>
    <% end %>

    <br>
    <%= friends?(@user)%>

  <% else %>
    <ul>
      <%= incoming_requests%>
    </ul>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

Friends
<ul>
  <% @user.friends.each do |friend|%>
    
      <li><%= friend.name %></li>
    
  <% end %>
</ul>